html, body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #c9d1d9;
    font-family: var(--font-main);
}

:root {
    --font-main: 'Noto Sans', sans-serif;
    --main-bg: #000;
    --profile-bg: #0d1117;
    --profile-color: #c9d1d9;
    --profile-img-border: #2e343b;
    --username-font-color: #8b949e;
    --username-font-weight: 400;
    --btn-bg: #21262d;
    --btn-color: #c9d1d9;
    --btn-bg-hover: #30363d;
    --btn-border: #373b43;
    --btn-border-hover: #8c949e;
}
.profile-container{
    background-color: var(--profile-bg);
    width: 80%;
    min-width: 250px;
    max-width: 400px;
    margin: 1em auto;
}
.profile-content img{
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid var(--profile-img-border);
   
  
    
    
}
.profile-content{
    padding: 1em 2em;
    
}
.profile-details{
    padding: 1em 0;
}

.profile-details button{
    width: 100%;
    border: 2px solid var(--btn-border);
    border-radius: 6px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 6px 0;
}
.profile-details h2 {
    margin: 0px;
    color: var(--profile-color);
    font-weight: var(--username-font-weight);
}
.profile-details h3{
    font-size: 1em;
    margin: 0px;
    color: var(--username-font-color);
    font-weight: var(--username-font-weight);
}
.profile-details p{
    font-size: 1em;
}
.profile-details button:hover {
    background: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
}
