:root {
    --font-main: 'Noto Sans', sans-serif;
    --bg-main: #131417;
    --bg-card: #1e1f26;
    --bg-stats: #131417;
    --username: #b7bbc8;
}
body , html{
    padding: 0px;
    margin: 0px;
     font-family: var(--font-main);
     background-color: var(--bg-main);
     color: white;
}
p,h3{
    margin: 0;
    padding: 0;
}
ul{
    padding-left: 0;

}
ul li{
    list-style: none;
}
.card{
    background-color:var(--bg-card) ;
    max-width: 500px;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    
    
}
.thumbnail img{
    max-width: 100%;
    object-fit: cover;
    

}
.profile img{
    width: 50px;
    height: 50px;
    margin-right: 1em;

}
.card img{
    border-radius: 10px;
}
.card-body{
    display: flex;
    margin-top: 1em;
    
}
.card-details{
    line-height: 1.5;
}
.card-details p{
    font-size: .85em;
    color: var(--username);
}
.card-stats{
    padding-bottom: .5em;
    display: none;
    

}
.card-stats li{
    background-color: var(--bg-stats);
    padding: .25em .5em;
    margin-right: .5em;
    border-radius: 5px;
}
.card:hover .card-stats{
    display: flex;
    
}
.card:hover {
    padding-bottom: 0;
}